@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<head class="fondo">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/img/HotelBeach.jpg" style="background-size: cover;">
</head>
<body>
    <section>
        <div class="container text-end">
            <div class="">
                <h4>Welcome to</h4>
                <h1>Hotel Beach</h1>
            </div>
        </div>
    </section>
</body>
</html>
